#tooltip-wrapper {

  background: white;
  padding: 1em;
  border-radius: 4px;
  overflow-y: scroll;
  /* z-index: 10; */
  width: 80%;
  unicode-bidi: plaintext;
  height: 400px;
  opacity: 1;
  transition: opacity 100ms;

  max-width: 400px;
  max-height: 300px;
  font-size: 0.8em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

#tooltip-wrapper:after {
  content: "";
  position: absolute;
  /* z-index: 1; */
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  unicode-bidi: plaintext;
  height: 75px;
}
