#tooltip-wrapper {
    background: var(--background-primary);
    padding: 1em;
    border-radius: 4px;
    overflow: hidden;
    position: fixed;
    width: 80%;
    max-width: 400px;
    height: auto;
    max-height: 300px;
    font-size: 0.8em;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    opacity: 0;
    transition: opacity 100ms;
    unicode-bidi: plaintext;
    overflow-y: scroll;
    z-index: 10;
  }
  
  #tooltip-wrapper:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    unicode-bidi: plaintext;
    height: 75px;
  }